@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styles spécifiques Instagram */
body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease;
}

.bg-instagram {
  background-color: var(--background-primary);
}

.text-instagram {
  color: var(--text-primary);
}

.border-instagram {
  border-color: var(--border-color);
}

/* Dans votre fichier CSS global */
video {
    object-fit: cover;
    background-color: #000;
}

.video-controls-overlay {
    transition: opacity 0.3s ease;
}

.video-controls-overlay:hover {
    opacity: 1;
}


:root {
  --foreground: #000;
  --background: #fff;
}

.dark {
  --foreground: #fff;
  --background: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Transition pour le changement de thème */
.theme-transition * {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}